black
flake8
flake8-bugbear
flake8-pie
isort
mypy
pytest
aiosqlite
annotated-types
anyio
click
fastapi~=0.115.2
greenlet
h11
idna
pydantic~=2.9.2
pydantic_core
pytest-asyncio
sniffio
SQLAlchemy~=2.0.36
starlette
typing_extensions
uvicorn~=0.32.0

httpx~=0.27.2